@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
// custom styles

$enable-shadows:              true;

$white: #fff;
$gray-100: #f7f7fc;
$gray-200: #f3f3f9;
$gray-300: #e0e0f2;
$gray-400: #dfdfeb;
$gray-500: #9e9fb4;
$gray-600: #737491;
$gray-700: #5a5b75;
$gray-800: #4a4b65;
$gray-900: #37384e;
$black: #000;

$primary: #766df4;
$secondary: $gray-100;
$success: #16c995;
$info: #6a9bf4;
$warning: #ffb15c;
$danger: #f74f78;
$light: $white;
$dark: $gray-900;

$user-selection-color: rgba($primary, 0.22); // apply later

/* LINKS */
$link-decoration: none;
$link-hover-decoration: underline;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: (
  // 0 px
  0: 0,
  // 0.25rem | 4px
  1: $spacer / 4,
  // 0.5rem | 8px
  2: $spacer / 2,
  // 1rem | 16px
  3: $spacer,
  // 1.5rem | 24px
  4: $spacer * 1.5,
  // 3rem || 48px
  5: $spacer * 3
  );
// $spacer: 1.6rem;
  // $spacers: (
    //   // 0 px
//     0: 0,
//   // 0.25rem | 4px
//     1: $spacer / 4,
//   // 0.5rem | 8px
//     2: $spacer / 2,
//   // 1rem | 16px
//     3: $spacer,
//   // 1.5rem | 24px
//     4: $spacer * 1.5,
//     // 3rem || 48px
//     5: $spacer * 3
// );

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-100;
$body-color: $gray-900;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem;
// $paragraph-margin-bottom: ($spacer * 1.25); // 20px // around

// Border radius
// card use 1rem border raduis, but they do not use these variables
// buttons, inputs use 0.75rem - they directly use
$border-width:     1px;
$border-color:     $gray-300;

$border-radius:    0.75rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 1rem;

// Box shadows      x-offset  y-offset  blur      spread    color
//
$box-shadow:        0         0         0.625rem -0.1875rem rgba($black, 0.13);
$box-shadow-sm:     0         0         0.625rem -0.1875rem rgba($black, 0.13);
$box-shadow-lg:    -0.0625rem 0         0.625rem  0         rgba($black, 0.07),
                    0.3125rem 1.25rem   2.5rem    0         rgba($black, 0.04);
$box-shadow-active: 0.1875rem 0.1875rem 0.625rem -0.125rem  rgba($black, 0.09);

.box-shadow {
  box-shadow: $box-shadow;
}

.box-shadow-lg {
  box-shadow: $box-shadow-lg;
}

.box-shadow-sm {
  box-shadow: $box-shadow-sm;
}

// this hover is applicable only to cards?
.outline-hover:hover {
  border-color: rgba($primary, 0.35);
  box-shadow: $box-shadow-active;
}
.outline-hover {
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Inter", sans-serif;
// $font-size-root: 62.5%; // 10px
// $font-size-base: 1.6rem; // 16px
$font-size-base: 1rem; // 16px

// this from Around
$font-size-xl: ($font-size-base * 1.25); // 20px
$font-size-lg: ($font-size-base * 1.125); // 18px // bootstrap also uses
$font-size-md: ($font-size-base * .9375); // 15px
$font-size-sm: ($font-size-base * .875); // 14px // bootstrap also uses
$font-size-ms: ($font-size-base * .8125); // 13px
$font-size-xs: ($font-size-base * .75); // 12px

$font-sizes: ();
$font-sizes: map-merge(
  (
    "xl":   $font-size-xl,
    "lg":   $font-size-lg,
    "base": $font-size-base,
    "md":   $font-size-md,
    "sm":   $font-size-sm,
    "ms":   $font-size-ms,
    "xs":   $font-size-xs
  ),
  $font-sizes
);

$font-weight-medium:          500; // from around
$font-weight-semibold:        600; // from around

$line-height-base:            1.5;
$line-height-lg:              1.5;
$line-height-sm:              1.5;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.625; //less than default bs
$h4-font-size:                $font-size-base * 1.375; //less than default bs
$h5-font-size:                $font-size-base * 1.125; //less than default bs
$h6-font-size:                $font-size-base;

// this is from Around. 
// TODO: Play with heading font sizes, line heights, margins
$h1-line-height:              1.2;
$h2-line-height:              1.25;
$h3-line-height:              1.3;
$h4-line-height:              1.35;
$h5-line-height:              1.4;
$h6-line-height:              1.4;

$headings-margin-bottom:      ($spacer * .75);
$headings-font-weight:        $font-weight-semibold;
$headings-color: $gray-800; // around

// TODO: Check, Assign these display variables
$display1-size:               4.5rem;
$display2-size:               4rem;
$display3-size:               3.5rem;
$display4-size:               3rem;

$display1-weight:             $headings-font-weight; // 600
$display2-weight:             $headings-font-weight; 
$display3-weight:             $headings-font-weight;
$display4-weight:             $headings-font-weight;
$display-line-height:         1; 

$text-muted:                  $gray-500;
$text-shadow:                 0 .0625rem rgba($black, .5);// around

// TODO: Check, Assign these blockquote variables
$blockquote-font-size:          $font-size-base;
$blockquote-small-font-size:    $font-size-base;
$blockquote-small-font-weight:  $font-weight-medium;
$blockquote-small-color:        $headings-color;
$blockquote-mark-color:         rgba($primary, .5);
$blockquote-mark-font-size:     4rem;



// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// $input-btn-padding-y:         .375rem; // 6px
// $input-btn-padding-x:         .75rem; // 12px
// $input-btn-padding-y:         .5rem; // 8px
// $input-btn-padding-x:         1rem; // 16px
$input-btn-padding-y:               .5625rem; // 9px // this is from around
$input-btn-padding-x:               1.125rem; // 18px // this is from around

$input-btn-focus-width:         .2rem;
$input-btn-focus-color-opacity: .35;
$input-btn-focus-color:         rgba($primary, $input-btn-focus-color-opacity);
$input-btn-focus-box-shadow:    0 0 0 2px $input-btn-focus-color;

// $input-btn-padding-y-sm:      .25rem;
// $input-btn-padding-x-sm:      .6rem;
$input-btn-padding-y-sm:            .425rem; // 6.8px
$input-btn-padding-x-sm:            1rem; // 16px

// $input-btn-padding-y-lg:      .5rem;
// $input-btn-padding-x-lg:      1rem;
$input-btn-padding-y-lg:            .75rem;
$input-btn-padding-x-lg:            1.25rem;


$input-btn-border-width:      $border-width;


$input-btn-focus-width:             0;

$input-group-icon-size:             $font-size-base; // used only by around?




// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-disabled-opacity:        .65;
$btn-block-spacing-y:         .5rem;

// around
$btn-padding-x:                     1.25rem; // 20px == $input-btn-padding-x-lg
$btn-padding-x-sm:                  1rem; // 16px == $input-btn-padding-x-sm
$btn-padding-x-lg:                  1.5rem; // 24px

$btn-dark-color:                    $white; // only around
$btn-light-color:                   $gray-700; // only around
$btn-font-weight:                   $font-weight-medium;
$btn-box-shadow:                    none;

$btn-pill-border-radius:            ($font-size-base * $line-height-base + $input-btn-padding-y * 2 + .125); // only around
$btn-pill-border-radius-sm:         ($font-size-sm * $line-height-sm + $input-btn-padding-y-sm * 2 + .125); // only around
$btn-pill-border-radius-lg:         ($font-size-lg * $line-height-lg + $input-btn-padding-y-lg * 2 + .125); // only around

$btn-outline-border-opacity:        .35; // only around
$btn-translucent-bg-opacity:        .08; // only around

$btn-icon-size:                     $font-size-base; // only around

$btn-transition:                    color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out;

$btn-focus-box-shadow:              none;
$btn-active-box-shadow:             none;


// Forms

$form-text-margin-top:              0.25rem; // 4px // feedback text,.form-text mt
$form-text-color:                   $text-muted; // .form-text color

$form-label-margin-bottom:          0.5rem; // we can also customize form labels

$input-bg:                              $white;
$input-disabled-bg:                     $gray-200;
$input-disabled-border-color:           null;

$input-color:                           $body-color;
$input-border-color:                    $gray-400;
$input-font-weight:                     $font-weight-medium;
$input-box-shadow:                      none;

$input-focus-bg:                        $input-bg;
$input-focus-border-color:              rgba($primary, .35);
// $input-focus-border-color:              $primary;
$input-focus-color:                     $input-color;
$input-focus-width:                     $input-btn-focus-width;
$input-focus-box-shadow:                0 .375rem .625rem -.3125rem rgba($primary, .15);

$input-placeholder-color:               $gray-500;
$input-plaintext-color:                 $body-color;

$form-check-label-cursor:               pointer;

$input-group-addon-color:               $input-color;
$input-group-addon-bg:                  $input-bg;
$input-group-addon-border-color:        $info;

$form-select-box-shadow:                none;

$form-select-focus-border-color:  $primary;
$form-select-focus-width:         $input-focus-width;
$form-select-focus-box-shadow:    0 0 0 $form-select-focus-width $primary !default;


$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

// Navs

$nav-link-padding-y:                      .5625rem !default;
$nav-link-padding-x:                      1.25rem !default;
$nav-link-font-weight:                    $font-weight-medium !default;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$nav-link-disabled-color:           $gray-500 !default;

$nav-tabs-border-color:             $gray-900 !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $danger !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $gray-900 $gray-900 $success !default;

$nav-pills-border-radius:           $border-radius !default;
$nav-pills-link-active-color:       $component-active-color !default;
$nav-pills-link-active-bg:          $component-active-bg !default;

// Cards

$card-spacer-y:                     1.5rem !default;
$card-spacer-x:                     1.5rem !default;
$card-title-spacer-y:               $spacer !default;
$card-border-width:                 $border-width !default;
$card-border-radius:                $border-radius-lg !default;
$card-border-color:                 $gray-300 !default;
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y:                $card-spacer-y / 2 !default;
$card-cap-padding-x:                $card-spacer-x !default;
$card-cap-bg:                       rgba($black, .03) !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           $white !default;


// List group

$list-group-color:                  null !default;
$list-group-bg:                     $white !default;
$list-group-border-color:           $gray-300 !default;
$list-group-border-width:           $border-width !default;
$list-group-border-radius:          $border-radius-lg !default;

$list-group-item-padding-y:         $spacer * .75 !default;
$list-group-item-padding-x:         $spacer !default;
$list-group-item-bg-level:          -9 !default;
$list-group-item-color-level:       6 !default;

$list-group-hover-bg:               $gray-100 !default;
$list-group-active-color:           $component-active-color !default;
$list-group-active-bg:              $component-active-bg !default;
$list-group-active-border-color:    $list-group-active-bg !default;

$list-group-disabled-color:         $gray-600 !default;
$list-group-disabled-bg:            $list-group-bg !default;

$list-group-action-color:           $gray-700 !default;
$list-group-action-hover-color:     $list-group-action-color !default;

$list-group-action-active-color:    $body-color !default;
$list-group-action-active-bg:       $gray-200 !default;
