@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
// custom styles

$white: #fff;
$gray-100: #f7f7fc;
$gray-200: #f3f3f9;
$gray-300: #e0e0f2;
$gray-400: #dfdfeb;
$gray-500: #9e9fb4;
$gray-600: #737491;
$gray-700: #5a5b75;
$gray-800: #4a4b65;
$gray-900: #37384e;
$black: #000;

$primary: #766df4;
$secondary: $gray-100;
$success: #16c995;
$info: #6a9bf4;
$warning: #ffb15c;
$danger: #f74f78;
$light: $white;
$dark: $gray-900;

$user-selection-color: rgba($primary, 0.22); // apply later

/* LINKS */
$link-decoration: none;
$link-hover-decoration: underline;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: (
  // 0 px
  0: 0,
  // 0.25rem | 4px
  1: $spacer / 4,
  // 0.5rem | 8px
  2: $spacer / 2,
  // 1rem | 16px
  3: $spacer,
  // 1.5rem | 24px
  4: $spacer * 1.5,
  // 3rem || 48px
  5: $spacer * 3
  );
// $spacer: 1.6rem;
  // $spacers: (
    //   // 0 px
//     0: 0,
//   // 0.25rem | 4px
//     1: $spacer / 4,
//   // 0.5rem | 8px
//     2: $spacer / 2,
//   // 1rem | 16px
//     3: $spacer,
//   // 1.5rem | 24px
//     4: $spacer * 1.5,
//     // 3rem || 48px
//     5: $spacer * 3
// );

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-100;
$body-color: $gray-900;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem;
// $paragraph-margin-bottom: ($spacer * 1.25); // 20px // around

// Border radius
// card use 1rem border raduis, but they do not use these variables
// buttons, inputs use 0.75rem - they directly use

$border-radius:    0.75rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 1rem;

// Box shadows      x-offset  y-offset  blur      spread    color
//
$box-shadow:        0         0         0.625rem -0.1875rem rgba($black, 0.13);
$box-shadow-sm:     0         0         0.625rem -0.1875rem rgba($black, 0.13);
$box-shadow-lg:    -0.0625rem 0         0.625rem  0         rgba($black, 0.07),
                    0.3125rem 1.25rem   2.5rem    0         rgba($black, 0.04);
$box-shadow-active: 0.1875rem 0.1875rem 0.625rem -0.125rem  rgba($black, 0.09);

.box-shadow {
  box-shadow: $box-shadow;
}

.box-shadow-lg {
  box-shadow: $box-shadow-lg;
}

.box-shadow-sm {
  box-shadow: $box-shadow-sm;
}

// this hover is applicable only to cards?
.outline-hover:hover {
  border-color: rgba($primary, 0.35);
  box-shadow: $box-shadow-active;
}
.outline-hover {
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Inter", sans-serif;
// $font-size-root: 62.5%; // 10px
// $font-size-base: 1.6rem; // 16px
$font-size-base: 1rem; // 16px

// this from Around
$font-size-xl: ($font-size-base * 1.25); // 20px
$font-size-lg: ($font-size-base * 1.125); // 18px // bootstrap also uses
$font-size-md: ($font-size-base * .9375); // 15px
$font-size-sm: ($font-size-base * .875); // 14px // bootstrap also uses
$font-size-ms: ($font-size-base * .8125); // 13px
$font-size-xs: ($font-size-base * .75); // 12px

$font-sizes: ();
$font-sizes: map-merge(
  (
    "xl":   $font-size-xl,
    "lg":   $font-size-lg,
    "base": $font-size-base,
    "md":   $font-size-md,
    "sm":   $font-size-sm,
    "ms":   $font-size-ms,
    "xs":   $font-size-xs
  ),
  $font-sizes
);

$font-weight-medium:          500; // from around
$font-weight-semibold:        600; // from around

$line-height-base:            1.5;
$line-height-lg:              1.5;
$line-height-sm:              1.5;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.625; //less than default bs
$h4-font-size:                $font-size-base * 1.375; //less than default bs
$h5-font-size:                $font-size-base * 1.125; //less than default bs
$h6-font-size:                $font-size-base;

// this is from Around. 
// TODO: Play with heading font sizes, line heights, margins
$h1-line-height:              1.2;
$h2-line-height:              1.25;
$h3-line-height:              1.3;
$h4-line-height:              1.35;
$h5-line-height:              1.4;
$h6-line-height:              1.4;

$headings-margin-bottom:      ($spacer * .75);
$headings-font-weight:        $font-weight-semibold;
$headings-color: $gray-800; // around

// TODO: Check, Assign these display variables
$display1-size:               4.5rem;
$display2-size:               4rem;
$display3-size:               3.5rem;
$display4-size:               3rem;

$display1-weight:             $headings-font-weight; // 600
$display2-weight:             $headings-font-weight; 
$display3-weight:             $headings-font-weight;
$display4-weight:             $headings-font-weight;
$display-line-height:         1; 

$text-muted:                  $gray-500;
$text-shadow:                 0 .0625rem rgba($black, .5);// around

// TODO: Check, Assign these blockquote variables
$blockquote-font-size:          $font-size-base !default;
$blockquote-small-font-size:    $font-size-base !default;
$blockquote-small-font-weight:  $font-weight-medium !default;
$blockquote-small-color:        $headings-color !default;
$blockquote-mark-color:         rgba($primary, .5) !default;
$blockquote-mark-font-size:     4rem !default;